In [4]:
import duckdb

In [ ]:
duckdb.sql("""
create or replace table employee_time as select * from read_csv_auto('Employee_Weekly_Login_Data.csv')
""")

In [ ]:
duckdb.sql("""
        with cte1 as
            (select *,datediff('minutes',login::timestamp,logout::timestamp)*1.0/60 as work_hour from employee_time)
        ,cte2 as
           (select *,
                case when work_hour >10 then '10+'
           when work_hour > 8 then '8+'
                    
                    else '8-'
                    end as work_cat
            from cte1)
        
        select employee_id,
           case when eight_hour_day >= 3 and ten_hour_day >=2 then 'both'
           when ten_hour_day >=2 then '2'
           when eight_hour_day >=3 then '1' end as workholic
           
           from    

        (select employee_id,count(*) as 'eight_hour_day',
           sum(case when work_cat = '10+' then 1 else 0 end) as 'ten_hour_day'
            from cte2
           where work_cat != '8-'
           group by employee_id)
        where workholic is not null
        

        
""")

┌─────────────┬───────────┐
│ employee_id │ workholic │
│   varchar   │  varchar  │
├─────────────┼───────────┤
│ E003        │ both      │
│ E007        │ both      │
│ E009        │ 1         │
│ E010        │ both      │
│ E004        │ both      │
│ E005        │ both      │
│ E008        │ 1         │
│ E006        │ both      │
└─────────────┴───────────┘